  
    #containerr {
      padding-top: 50px;
     height: 405px;
     margin: auto;
      width: 255.6px;
      }
  
      #cont{
      padding-top: 80px;
      height: 100px;
      margin: auto;
      width: 255.6px;
      text-align: center;
      }
  
  
      #carta1 {
     height: 100%;
     width: 100%;
     transition: all 1s;
     transform-style: preserve-3d;
     box-shadow: 0px 0px 5px black;
     position: absolute;
     border: solid 1px gray;
     border-radius: 3px;
  }
  
  
  
  
  #frente{ 
      position: absolute;
     height: 100%;
     width: 100%;
      background-color: white;
     width: 100%;
   }
  
  #frente1{ 
      position: absolute;
     height: 100%;
     width: 100%;
      background-color: white;
      width: 100%;
      height: 20%;
      text-align: center;
      border-bottom: solid 9px;
   }
  
  #frente3{ 
      text-align: center; 
      padding-top: 5px;
      position: absolute;
     height: 100%;
     width: 100%;
      margin-top: 81px; 
      background-color: aqua;
      height: 75%;
     width: 100%;
   }
  