@media print {
   
.containerr {
    padding-top: 50px;
	height: 405px;
	margin: auto;
	width: 255.6px;
	-webkit-perspective: 750;
}

.cont{
    padding-top: 80px;
    height: 100px;
    margin: auto;
    width: 255.6px;
    text-align: center;
}

.carta {
	height: 100%;
	width: 100%;
	transition: all 1s;
	transform-style: preserve-3d;
	box-shadow: 0px 0px 5px black;
	position: absolute;
}
.carta1 {
	height: 100%;
	width: 100%;
	transition: all 1s;
	transform-style: preserve-3d;
	box-shadow: 0px 0px 5px black;
	position: absolute;
	border: solid 1px gray;
	border-radius: 3px;
}

.carta:hover{
  transform: rotateY(180deg);
}

.lado{
	position: absolute;
	height: 100%;
	width: 100%;
   background: #F0F0F0;
}
.lado1{
	position: absolute;
	height: 100%;
	width: 100%;
   background: #F0F0F0;
}

.frente{ 
    background-color: white;
	width: 100%;
 }

 .frente1{ 
    background-color: white;
    width: 100%;
    height: 20%;
    text-align: center;
    border-bottom: solid 9px;
 }




 .frente3{ 
    margin-top: 81px; 
    /*background-color: yellow;*/
    height: 75%;
	width: 100%;
 }


.ull {
  
    margin-top: 5px;
    margin-right: 5px;
}


.ull1 {
    list-style: none;

    margin-top: 15px;
    margin-left: -19px;
    margin-right: 5px;
}



.liii1 {
	text-decoration: none;
	padding: 10px;
  z-index:80;
}

.lii {
	text-decoration: none;
	padding: 10px;
    z-index:80;
}


.liii {
    list-style: none;
    text-align: center;
}
}






.li2 {
    list-style: none;

    margin: 5px 5px 5px 5px;
    text-align: center;
}


.atras{
	height: 100%;
	width: 100%;
  transform: rotateY(180deg);
}

  }